<html lang="en">


<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Vue.js 101 Workshop: Harry Potter World Exercise (Solution)</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="screen" href="harry-potter-world.css" />
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script> -->
  <script src="../vue.min.js"></script>
</head>

<body>
  <div class="diagon-alley" id="app">
    <div class="parchment">
      <h1>{{ name }}</h1>
      <h2>House:</h2>
      <p>{{ house }}</p>
      <h2>Wand:</h2>
      <p>{{ chosenWand }}</p>
      <label for="choose-wand">Choose your wand:</label>
      <select name="choose-wand" id="choose-wand" v-model="chosenWand">
        <option value="No wand selected" default>No wand selected</option>
        <option v-for="wand in wandOptions" :value="wand" :key="wand">{{ wand }}</option>
      </select>
      <h2>Wallet</h2>
      <ul class="wallet">
        <li v-for="(amount, coinType) in wallet" :class="coinType" :key="coinType">
          {{ coinType }}: {{ amount }}
        </li>
      </ul>
      <div class="parchment__cta">
        <button @click="visitGringotts">Visit Gringotts</button>
        <button @click="location = 'diagonAlley'">Visit Diagon Alley</button>
        <button @click="drinkButterbeer" v-show="location === 'diagonAlley'">Drink Butterbeer</button>
        <button @click="eatAtLeakyCauldron" v-show="location === 'diagonAlley'">Eat at The Leaky Cauldron</button>
      </div>
    </div>
    <div id="gringotts" class="gringotts" v-show="location === 'gringotts'"/>
  </div>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        location: 'diagonAlley',
        name: 'Ben Hong',
        house: 'Ravenclaw',
        chosenWand: 'No wand selected',
        wandOptions: [
          '11" holly, phoenix feather, nice and supple',
          '10¾", vine, dragon heartstring',
          '10¼", hornbeam, dragon heartstring, quite rigid',
          '10", hawthorn, unicorn hair, reasonably springy',
          '12", ash, unicorn hair',
          '13½", yew, phoenix feather',
          '9½", rosewood, Veela hair, Inflexible'
        ],
        wallet: {
          Galleons: 12,
          Sickles: 38,
          Knuts: 274
        }
      },
      methods: {
        visitGringotts() {
          this.location = 'gringotts'
          this.wallet = {
            Galleons: 12,
            Sickles: 38,
            Knuts: 274
          }
        },
        drinkButterbeer() {
          this.wallet.Knuts -= 25;
        },
        eatAtLeakyCauldron() {
          this.wallet.Sickles -= 5;
        }
      }
    })
  </script>
</body>

</html>
